<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est dolor pariatur asperiores, corporis impedit! Similique officiis vero sunt adipisci, reprehenderit explicabo natus nesciunt doloribus aperiam deleniti consequuntur voluptatem dolorem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est dolor pariatur asperiores, corporis impedit! Similique officiis vero sunt adipisci, reprehenderit explicabo natus nesciunt doloribus aperiam deleniti consequuntur voluptatem dolorem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est dolor pariatur asperiores, corporis impedit! Similique officiis vero sunt adipisci, reprehenderit explicabo natus nesciunt doloribus aperiam deleniti consequuntur voluptatem dolorem.</p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>